body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:720px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5810 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:720px;
}
#u5811 {
  position:absolute;
  left:2px;
  top:352px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5812 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5813 {
  position:absolute;
  left:2px;
  top:12px;
  width:446px;
  word-wrap:break-word;
}
#u5814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5814 {
  position:absolute;
  left:56px;
  top:70px;
  width:320px;
  height:568px;
}
#u5815 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5816 {
  position:absolute;
  left:56px;
  top:70px;
  width:320px;
  height:44px;
}
#u5817 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5818 {
  position:absolute;
  left:399px;
  top:87px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u5819 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u5820_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:35px;
  height:21px;
}
#u5820p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:27px;
  height:1px;
}
#u5820p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:38px;
  height:22px;
}
#u5820p001 {
  position:absolute;
  left:12px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5820p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u5820.compound {
  width:0px;
  height:0px;
}
#u5820 {
  position:absolute;
  left:370px;
  top:100px;
  width:25px;
  height:1px;
}
#u5821 {
  position:absolute;
  left:2px;
  top:-8px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:720px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5822 {
  position:absolute;
  left:470px;
  top:0px;
  width:450px;
  height:720px;
}
#u5823 {
  position:absolute;
  left:2px;
  top:352px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5824 {
  position:absolute;
  left:470px;
  top:0px;
  width:450px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5825 {
  position:absolute;
  left:2px;
  top:12px;
  width:446px;
  word-wrap:break-word;
}
#u5826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5826 {
  position:absolute;
  left:484px;
  top:56px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u5827 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u5828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:28px;
}
#u5828 {
  position:absolute;
  left:519px;
  top:56px;
  width:43px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:28px;
}
#u5829 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u5830 {
  position:absolute;
  left:519px;
  top:84px;
  width:387px;
  height:28px;
  line-height:28px;
}
#u5831 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  word-wrap:break-word;
}
#u5832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:525px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5832 {
  position:absolute;
  left:56px;
  top:113px;
  width:320px;
  height:525px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5833 {
  position:absolute;
  left:30px;
  top:254px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5834 {
  position:absolute;
  left:56px;
  top:124px;
  width:320px;
  height:119px;
}
#u5835 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5836 {
  position:absolute;
  left:78px;
  top:207px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5837 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5838 {
  position:absolute;
  left:341px;
  top:205px;
  width:28px;
  height:28px;
}
#u5839 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5840 {
  position:absolute;
  left:78px;
  top:150px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u5841 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u5842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:2px;
}
#u5842 {
  position:absolute;
  left:78px;
  top:192px;
  width:297px;
  height:1px;
}
#u5843 {
  position:absolute;
  left:2px;
  top:-8px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5844 {
  position:absolute;
  left:340px;
  top:145px;
  width:28px;
  height:28px;
}
#u5845 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u5846 {
  position:absolute;
  left:251px;
  top:207px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u5847 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5849 {
  position:absolute;
  left:56px;
  top:386px;
  width:320px;
  height:45px;
}
#u5850 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5851 {
  position:absolute;
  left:342px;
  top:395px;
  width:28px;
  height:28px;
}
#u5852 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5853 {
  position:absolute;
  left:79px;
  top:399px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u5854 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u5855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5855 {
  position:absolute;
  left:400px;
  top:153px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u5856 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u5857_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:35px;
  height:21px;
}
#u5857p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:27px;
  height:1px;
}
#u5857p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:38px;
  height:22px;
}
#u5857p001 {
  position:absolute;
  left:12px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5857p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u5857.compound {
  width:0px;
  height:0px;
}
#u5857 {
  position:absolute;
  left:371px;
  top:166px;
  width:25px;
  height:1px;
}
#u5858 {
  position:absolute;
  left:2px;
  top:-8px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5859 {
  position:absolute;
  left:85px;
  top:91px;
  width:58px;
  height:16px;
  color:#666666;
}
#u5860 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u5861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5861 {
  position:absolute;
  left:61px;
  top:83px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5862 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
}
#u5863 {
  position:absolute;
  left:284px;
  top:132px;
  width:49px;
  height:50px;
}
#u5864 {
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5865 {
  position:absolute;
  left:56px;
  top:254px;
  width:320px;
  height:119px;
}
#u5866 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5867 {
  position:absolute;
  left:78px;
  top:266px;
  width:154px;
  height:19px;
  font-size:16px;
}
#u5868 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u5869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u5869 {
  position:absolute;
  left:78px;
  top:300px;
  width:52px;
  height:22px;
  font-size:14px;
  color:#333333;
}
#u5870 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  word-wrap:break-word;
}
#u5871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u5871 {
  position:absolute;
  left:151px;
  top:300px;
  width:52px;
  height:22px;
  font-size:14px;
  color:#333333;
}
#u5872 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  word-wrap:break-word;
}
#u5873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u5873 {
  position:absolute;
  left:229px;
  top:300px;
  width:52px;
  height:22px;
  font-size:14px;
  color:#333333;
}
#u5874 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  word-wrap:break-word;
}
#u5875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u5875 {
  position:absolute;
  left:78px;
  top:341px;
  width:52px;
  height:22px;
  font-size:14px;
  color:#000000;
}
#u5876 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  word-wrap:break-word;
}
#u5877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u5877 {
  position:absolute;
  left:305px;
  top:300px;
  width:52px;
  height:22px;
  font-size:14px;
  color:#000000;
}
#u5878 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  word-wrap:break-word;
}
#u5879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u5879 {
  position:absolute;
  left:151px;
  top:341px;
  width:52px;
  height:22px;
  font-size:14px;
  color:#000000;
}
#u5880 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  word-wrap:break-word;
}
#u5881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u5881 {
  position:absolute;
  left:229px;
  top:341px;
  width:52px;
  height:22px;
  font-size:14px;
  color:#000000;
}
#u5882 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  word-wrap:break-word;
}
#u5883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u5883 {
  position:absolute;
  left:305px;
  top:341px;
  width:52px;
  height:22px;
  font-size:14px;
  color:#000000;
}
#u5884 {
  position:absolute;
  left:2px;
  top:3px;
  width:48px;
  word-wrap:break-word;
}
#u5885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5885 {
  position:absolute;
  left:271px;
  top:300px;
  width:10px;
  height:10px;
}
#u5886 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5887 {
  position:absolute;
  left:193px;
  top:300px;
  width:10px;
  height:10px;
}
#u5888 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5889 {
  position:absolute;
  left:120px;
  top:300px;
  width:10px;
  height:10px;
}
#u5890 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5892 {
  position:absolute;
  left:62px;
  top:76px;
  width:5px;
  height:5px;
}
#u5893 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5894 {
  position:absolute;
  left:68px;
  top:76px;
  width:5px;
  height:5px;
}
#u5895 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5896 {
  position:absolute;
  left:74px;
  top:76px;
  width:5px;
  height:5px;
}
#u5897 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5898 {
  position:absolute;
  left:80px;
  top:76px;
  width:5px;
  height:5px;
}
#u5899 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5900 {
  position:absolute;
  left:87px;
  top:76px;
  width:5px;
  height:5px;
}
#u5901 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u5902 {
  position:absolute;
  left:95px;
  top:72px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u5903 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:7px;
}
#u5904 {
  position:absolute;
  left:140px;
  top:74px;
  width:10px;
  height:7px;
}
#u5905 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:center;
}
#u5906 {
  position:absolute;
  left:191px;
  top:72px;
  width:52px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u5907 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u5908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:center;
}
#u5908 {
  position:absolute;
  left:315px;
  top:72px;
  width:35px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u5909 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u5910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:9px;
}
#u5910 {
  position:absolute;
  left:350px;
  top:74px;
  width:21px;
  height:9px;
}
#u5911 {
  position:absolute;
  left:2px;
  top:-4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5912 {
  position:absolute;
  left:190px;
  top:92px;
  width:53px;
  height:16px;
  text-align:center;
}
#u5913 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5914 {
  position:absolute;
  left:484px;
  top:122px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u5915 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u5916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:28px;
}
#u5916 {
  position:absolute;
  left:519px;
  top:122px;
  width:57px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:28px;
}
#u5917 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u5918 {
  position:absolute;
  left:519px;
  top:150px;
  width:387px;
  height:56px;
  line-height:28px;
}
#u5919 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  word-wrap:break-word;
}
#u5920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5920 {
  position:absolute;
  left:484px;
  top:216px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u5921 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u5922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:28px;
}
#u5922 {
  position:absolute;
  left:519px;
  top:216px;
  width:71px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:28px;
}
#u5923 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u5924 {
  position:absolute;
  left:519px;
  top:244px;
  width:387px;
  height:140px;
  line-height:28px;
}
#u5925 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  word-wrap:break-word;
}
#u5926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5926 {
  position:absolute;
  left:400px;
  top:208px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u5927 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u5928_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:35px;
  height:21px;
}
#u5928p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:27px;
  height:1px;
}
#u5928p000_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:38px;
  height:22px;
}
#u5928p001 {
  position:absolute;
  left:12px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5928p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u5928.compound {
  width:0px;
  height:0px;
}
#u5928 {
  position:absolute;
  left:371px;
  top:221px;
  width:25px;
  height:1px;
}
#u5929 {
  position:absolute;
  left:2px;
  top:-8px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5930 {
  position:absolute;
  left:400px;
  top:269px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u5931 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u5932_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:35px;
  height:21px;
}
#u5932p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:27px;
  height:1px;
}
#u5932p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:38px;
  height:22px;
}
#u5932p001 {
  position:absolute;
  left:12px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5932p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u5932.compound {
  width:0px;
  height:0px;
}
#u5932 {
  position:absolute;
  left:371px;
  top:282px;
  width:25px;
  height:1px;
}
#u5933 {
  position:absolute;
  left:2px;
  top:-8px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5934 {
  position:absolute;
  left:400px;
  top:393px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u5935 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u5936_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:35px;
  height:21px;
}
#u5936p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:27px;
  height:1px;
}
#u5936p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:38px;
  height:22px;
}
#u5936p001 {
  position:absolute;
  left:12px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5936p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u5936.compound {
  width:0px;
  height:0px;
}
#u5936 {
  position:absolute;
  left:371px;
  top:406px;
  width:25px;
  height:1px;
}
#u5937 {
  position:absolute;
  left:2px;
  top:-8px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:720px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5938 {
  position:absolute;
  left:940px;
  top:0px;
  width:450px;
  height:720px;
}
#u5939 {
  position:absolute;
  left:2px;
  top:352px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5940 {
  position:absolute;
  left:940px;
  top:0px;
  width:450px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5941 {
  position:absolute;
  left:2px;
  top:12px;
  width:446px;
  word-wrap:break-word;
}
#u5942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:179px;
}
#u5943 {
  position:absolute;
  left:572px;
  top:411px;
  width:270px;
  height:179px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5944 {
  position:absolute;
  left:2px;
  top:82px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u5945 {
  position:absolute;
  left:636px;
  top:431px;
  width:145px;
  height:29px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u5946 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u5947 {
  position:absolute;
  left:752px;
  top:557px;
  width:51px;
  height:24px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u5948 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u5949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u5949 {
  position:absolute;
  left:620px;
  top:557px;
  width:78px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2087FC;
}
#u5950 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u5951 {
  position:absolute;
  left:588px;
  top:485px;
  width:240px;
  height:25px;
}
#u5951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5952 {
  position:absolute;
  left:950px;
  top:67px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u5953 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u5954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:28px;
}
#u5954 {
  position:absolute;
  left:985px;
  top:67px;
  width:57px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:28px;
}
#u5955 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u5956 {
  position:absolute;
  left:985px;
  top:95px;
  width:385px;
  height:140px;
  line-height:28px;
}
#u5957 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  word-wrap:break-word;
}
#u5958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5958 {
  position:absolute;
  left:950px;
  top:265px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u5959 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u5960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:28px;
}
#u5960 {
  position:absolute;
  left:985px;
  top:263px;
  width:57px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:28px;
}
#u5961 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u5962 {
  position:absolute;
  left:985px;
  top:291px;
  width:385px;
  height:28px;
  line-height:28px;
}
#u5963 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  word-wrap:break-word;
}
