body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1201 {
  position:absolute;
  left:823px;
  top:856px;
  width:145px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1202 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:465px;
}
#u1203 {
  position:absolute;
  left:74px;
  top:10px;
  width:267px;
  height:465px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:224px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1205 {
  position:absolute;
  left:290px;
  top:250px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u1206 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:465px;
}
#u1207 {
  position:absolute;
  left:74px;
  top:540px;
  width:267px;
  height:465px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:224px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1209 {
  position:absolute;
  left:320px;
  top:600px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u1210 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1211 {
  position:absolute;
  left:320px;
  top:650px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u1212 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1213 {
  position:absolute;
  left:320px;
  top:690px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u1214 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:465px;
}
#u1215 {
  position:absolute;
  left:74px;
  top:1049px;
  width:267px;
  height:465px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:224px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1217 {
  position:absolute;
  left:320px;
  top:1474px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u1218 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:465px;
}
#u1219 {
  position:absolute;
  left:74px;
  top:1615px;
  width:267px;
  height:465px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:224px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1221 {
  position:absolute;
  left:320px;
  top:2040px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u1222 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:468px;
}
#u1223 {
  position:absolute;
  left:771px;
  top:27px;
  width:264px;
  height:468px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:226px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225 {
  position:absolute;
  left:821px;
  top:240px;
  width:0px;
  height:0px;
}
#u1225_seg0 {
  position:absolute;
  left:-4px;
  top:-54px;
  width:8px;
  height:54px;
}
#u1225_seg1 {
  position:absolute;
  left:-4px;
  top:-54px;
  width:337px;
  height:8px;
}
#u1225_seg2 {
  position:absolute;
  left:325px;
  top:-54px;
  width:8px;
  height:78px;
}
#u1225_seg3 {
  position:absolute;
  left:325px;
  top:16px;
  width:64px;
  height:8px;
}
#u1225_seg4 {
  position:absolute;
  left:363px;
  top:0px;
  width:40px;
  height:40px;
}
#u1226 {
  position:absolute;
  left:154px;
  top:-58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227 {
  position:absolute;
  left:980px;
  top:280px;
  width:0px;
  height:0px;
}
#u1227_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:632px;
}
#u1227_seg1 {
  position:absolute;
  left:-4px;
  top:624px;
  width:232px;
  height:8px;
}
#u1227_seg2 {
  position:absolute;
  left:202px;
  top:608px;
  width:40px;
  height:40px;
}
#u1228 {
  position:absolute;
  left:-50px;
  top:420px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229 {
  position:absolute;
  left:896px;
  top:240px;
  width:0px;
  height:0px;
}
#u1229_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:620px;
}
#u1229_seg1 {
  position:absolute;
  left:-20px;
  top:590px;
  width:40px;
  height:40px;
}
#u1230 {
  position:absolute;
  left:-50px;
  top:300px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231 {
  position:absolute;
  left:330px;
  top:270px;
  width:0px;
  height:0px;
}
#u1231_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:244px;
  height:8px;
}
#u1231_seg1 {
  position:absolute;
  left:236px;
  top:-13px;
  width:8px;
  height:17px;
}
#u1231_seg2 {
  position:absolute;
  left:236px;
  top:-13px;
  width:205px;
  height:8px;
}
#u1231_seg3 {
  position:absolute;
  left:415px;
  top:-29px;
  width:40px;
  height:40px;
}
#u1232 {
  position:absolute;
  left:175px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233 {
  position:absolute;
  left:360px;
  top:620px;
  width:0px;
  height:0px;
}
#u1233_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:214px;
  height:8px;
}
#u1233_seg1 {
  position:absolute;
  left:206px;
  top:-363px;
  width:8px;
  height:367px;
}
#u1233_seg2 {
  position:absolute;
  left:206px;
  top:-363px;
  width:205px;
  height:8px;
}
#u1233_seg3 {
  position:absolute;
  left:385px;
  top:-379px;
  width:40px;
  height:40px;
}
#u1234 {
  position:absolute;
  left:160px;
  top:-183px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235 {
  position:absolute;
  left:360px;
  top:670px;
  width:0px;
  height:0px;
}
#u1235_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:214px;
  height:8px;
}
#u1235_seg1 {
  position:absolute;
  left:206px;
  top:-413px;
  width:8px;
  height:417px;
}
#u1235_seg2 {
  position:absolute;
  left:206px;
  top:-413px;
  width:205px;
  height:8px;
}
#u1235_seg3 {
  position:absolute;
  left:385px;
  top:-429px;
  width:40px;
  height:40px;
}
#u1236 {
  position:absolute;
  left:160px;
  top:-208px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237 {
  position:absolute;
  left:360px;
  top:710px;
  width:0px;
  height:0px;
}
#u1237_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:214px;
  height:8px;
}
#u1237_seg1 {
  position:absolute;
  left:206px;
  top:-453px;
  width:8px;
  height:457px;
}
#u1237_seg2 {
  position:absolute;
  left:206px;
  top:-453px;
  width:205px;
  height:8px;
}
#u1237_seg3 {
  position:absolute;
  left:385px;
  top:-469px;
  width:40px;
  height:40px;
}
#u1238 {
  position:absolute;
  left:160px;
  top:-228px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239 {
  position:absolute;
  left:360px;
  top:1494px;
  width:0px;
  height:0px;
}
#u1239_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:214px;
  height:8px;
}
#u1239_seg1 {
  position:absolute;
  left:206px;
  top:-1237px;
  width:8px;
  height:1241px;
}
#u1239_seg2 {
  position:absolute;
  left:206px;
  top:-1237px;
  width:205px;
  height:8px;
}
#u1239_seg3 {
  position:absolute;
  left:385px;
  top:-1253px;
  width:40px;
  height:40px;
}
#u1240 {
  position:absolute;
  left:160px;
  top:-620px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241 {
  position:absolute;
  left:360px;
  top:2060px;
  width:0px;
  height:0px;
}
#u1241_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:214px;
  height:8px;
}
#u1241_seg1 {
  position:absolute;
  left:206px;
  top:-1803px;
  width:8px;
  height:1807px;
}
#u1241_seg2 {
  position:absolute;
  left:206px;
  top:-1803px;
  width:205px;
  height:8px;
}
#u1241_seg3 {
  position:absolute;
  left:385px;
  top:-1819px;
  width:40px;
  height:40px;
}
#u1242 {
  position:absolute;
  left:160px;
  top:-903px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1243 {
  position:absolute;
  left:876px;
  top:200px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u1244 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1245 {
  position:absolute;
  left:801px;
  top:240px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u1246 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1247 {
  position:absolute;
  left:960px;
  top:240px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u1248 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:458px;
}
#u1249 {
  position:absolute;
  left:1600px;
  top:31px;
  width:256px;
  height:458px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:221px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:458px;
}
#u1251 {
  position:absolute;
  left:1210px;
  top:31px;
  width:257px;
  height:458px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:221px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1253 {
  position:absolute;
  left:1400px;
  top:180px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u1254 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255 {
  position:absolute;
  left:1440px;
  top:200px;
  width:0px;
  height:0px;
}
#u1255_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u1255_seg1 {
  position:absolute;
  left:146px;
  top:-4px;
  width:8px;
  height:68px;
}
#u1255_seg2 {
  position:absolute;
  left:146px;
  top:56px;
  width:14px;
  height:8px;
}
#u1255_seg3 {
  position:absolute;
  left:147px;
  top:50px;
  width:20px;
  height:20px;
}
#u1256 {
  position:absolute;
  left:60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1257 {
  position:absolute;
  left:1790px;
  top:260px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u1258 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1259 {
  position:absolute;
  left:1737px;
  top:545px;
  width:145px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1260 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1261 {
  position:absolute;
  left:1810px;
  top:300px;
  width:0px;
  height:0px;
}
#u1261_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:249px;
}
#u1261_seg1 {
  position:absolute;
  left:-10px;
  top:232px;
  width:20px;
  height:20px;
}
#u1262 {
  position:absolute;
  left:-50px;
  top:114px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:464px;
}
#u1263 {
  position:absolute;
  left:1600px;
  top:675px;
  width:262px;
  height:464px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:224px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:465px;
}
#u1265 {
  position:absolute;
  left:1208px;
  top:675px;
  width:262px;
  height:465px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:224px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1267 {
  position:absolute;
  left:1420px;
  top:826px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u1268 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269 {
  position:absolute;
  left:1460px;
  top:846px;
  width:0px;
  height:0px;
}
#u1269_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u1269_seg1 {
  position:absolute;
  left:126px;
  top:-4px;
  width:8px;
  height:69px;
}
#u1269_seg2 {
  position:absolute;
  left:126px;
  top:57px;
  width:14px;
  height:8px;
}
#u1269_seg3 {
  position:absolute;
  left:127px;
  top:51px;
  width:20px;
  height:20px;
}
#u1270 {
  position:absolute;
  left:50px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1271 {
  position:absolute;
  left:1816px;
  top:910px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u1272 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273 {
  position:absolute;
  left:1856px;
  top:930px;
  width:0px;
  height:0px;
}
#u1273_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:48px;
  height:8px;
}
#u1273_seg1 {
  position:absolute;
  left:40px;
  top:-314px;
  width:8px;
  height:318px;
}
#u1273_seg2 {
  position:absolute;
  left:-770px;
  top:-314px;
  width:818px;
  height:8px;
}
#u1273_seg3 {
  position:absolute;
  left:-770px;
  top:-673px;
  width:8px;
  height:367px;
}
#u1273_seg4 {
  position:absolute;
  left:-821px;
  top:-673px;
  width:59px;
  height:8px;
}
#u1273_seg5 {
  position:absolute;
  left:-828px;
  top:-679px;
  width:20px;
  height:20px;
}
#u1274 {
  position:absolute;
  left:-441px;
  top:-318px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
