body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1807px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u4633 {
  position:absolute;
  left:563px;
  top:72px;
  width:320px;
  height:568px;
}
#u4634 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:568px;
}
#u4635 {
  position:absolute;
  left:90px;
  top:762px;
  width:319px;
  height:568px;
}
#u4636 {
  position:absolute;
  left:2px;
  top:276px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:624px;
}
#u4637 {
  position:absolute;
  left:563px;
  top:1493px;
  width:320px;
  height:624px;
}
#u4638 {
  position:absolute;
  left:2px;
  top:304px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:621px;
}
#u4639 {
  position:absolute;
  left:1035px;
  top:780px;
  width:319px;
  height:621px;
}
#u4640 {
  position:absolute;
  left:2px;
  top:302px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:566px;
}
#u4641 {
  position:absolute;
  left:1035px;
  top:1506px;
  width:325px;
  height:566px;
}
#u4642 {
  position:absolute;
  left:2px;
  top:275px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u4643 {
  position:absolute;
  left:90px;
  top:72px;
  width:320px;
  height:568px;
}
#u4644 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:566px;
}
#u4645 {
  position:absolute;
  left:563px;
  top:780px;
  width:317px;
  height:566px;
}
#u4646 {
  position:absolute;
  left:2px;
  top:275px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4647 {
  position:absolute;
  left:380px;
  top:400px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u4648 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4649 {
  position:absolute;
  left:369px;
  top:910px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u4650 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4651 {
  position:absolute;
  left:369px;
  top:840px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u4652 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4653 {
  position:absolute;
  left:369px;
  top:1220px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u4654 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4655 {
  position:absolute;
  left:369px;
  top:1010px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u4656 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:568px;
}
#u4657 {
  position:absolute;
  left:563px;
  top:2200px;
  width:319px;
  height:568px;
}
#u4658 {
  position:absolute;
  left:2px;
  top:276px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4659 {
  position:absolute;
  left:1288px;
  top:1357px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u4660 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4661 {
  position:absolute;
  left:830px;
  top:2073px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u4662 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4663 {
  position:absolute;
  left:420px;
  top:420px;
  width:0px;
  height:0px;
}
#u4663_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u4663_seg1 {
  position:absolute;
  left:86px;
  top:-68px;
  width:8px;
  height:72px;
}
#u4663_seg2 {
  position:absolute;
  left:86px;
  top:-68px;
  width:57px;
  height:8px;
}
#u4663_seg3 {
  position:absolute;
  left:130px;
  top:-74px;
  width:20px;
  height:20px;
}
#u4664 {
  position:absolute;
  left:40px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4665 {
  position:absolute;
  left:409px;
  top:860px;
  width:0px;
  height:0px;
}
#u4665_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u4665_seg1 {
  position:absolute;
  left:67px;
  top:-154px;
  width:8px;
  height:158px;
}
#u4665_seg2 {
  position:absolute;
  left:67px;
  top:-154px;
  width:488px;
  height:8px;
}
#u4665_seg3 {
  position:absolute;
  left:547px;
  top:-154px;
  width:8px;
  height:389px;
}
#u4665_seg4 {
  position:absolute;
  left:547px;
  top:227px;
  width:79px;
  height:8px;
}
#u4665_seg5 {
  position:absolute;
  left:613px;
  top:221px;
  width:20px;
  height:20px;
}
#u4666 {
  position:absolute;
  left:378px;
  top:-158px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4667 {
  position:absolute;
  left:409px;
  top:930px;
  width:0px;
  height:0px;
}
#u4667_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:125px;
  height:8px;
}
#u4667_seg1 {
  position:absolute;
  left:117px;
  top:-4px;
  width:8px;
  height:141px;
}
#u4667_seg2 {
  position:absolute;
  left:117px;
  top:129px;
  width:37px;
  height:8px;
}
#u4667_seg3 {
  position:absolute;
  left:141px;
  top:123px;
  width:20px;
  height:20px;
}
#u4668 {
  position:absolute;
  left:71px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4669 {
  position:absolute;
  left:409px;
  top:1030px;
  width:0px;
  height:0px;
}
#u4669_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u4669_seg1 {
  position:absolute;
  left:67px;
  top:-4px;
  width:8px;
  height:783px;
}
#u4669_seg2 {
  position:absolute;
  left:67px;
  top:771px;
  width:87px;
  height:8px;
}
#u4669_seg3 {
  position:absolute;
  left:141px;
  top:765px;
  width:20px;
  height:20px;
}
#u4670 {
  position:absolute;
  left:21px;
  top:386px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4671 {
  position:absolute;
  left:870px;
  top:2093px;
  width:0px;
  height:0px;
}
#u4671_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u4671_seg1 {
  position:absolute;
  left:106px;
  top:-308px;
  width:8px;
  height:312px;
}
#u4671_seg2 {
  position:absolute;
  left:106px;
  top:-308px;
  width:59px;
  height:8px;
}
#u4671_seg3 {
  position:absolute;
  left:152px;
  top:-314px;
  width:20px;
  height:20px;
}
#u4672 {
  position:absolute;
  left:60px;
  top:-132px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4673 {
  position:absolute;
  left:409px;
  top:1240px;
  width:0px;
  height:0px;
}
#u4673_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u4673_seg1 {
  position:absolute;
  left:27px;
  top:-4px;
  width:8px;
  height:1252px;
}
#u4673_seg2 {
  position:absolute;
  left:27px;
  top:1240px;
  width:127px;
  height:8px;
}
#u4673_seg3 {
  position:absolute;
  left:141px;
  top:1234px;
  width:20px;
  height:20px;
}
#u4674 {
  position:absolute;
  left:-19px;
  top:660px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:566px;
}
#u4675 {
  position:absolute;
  left:1490px;
  top:752px;
  width:317px;
  height:566px;
}
#u4676 {
  position:absolute;
  left:2px;
  top:275px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4677 {
  position:absolute;
  left:1328px;
  top:1377px;
  width:0px;
  height:0px;
}
#u4677_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u4677_seg1 {
  position:absolute;
  left:98px;
  top:-346px;
  width:8px;
  height:350px;
}
#u4677_seg2 {
  position:absolute;
  left:98px;
  top:-346px;
  width:64px;
  height:8px;
}
#u4677_seg3 {
  position:absolute;
  left:149px;
  top:-352px;
  width:20px;
  height:20px;
}
#u4678 {
  position:absolute;
  left:52px;
  top:-158px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:134px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4680 {
  position:absolute;
  left:1514px;
  top:1368px;
  width:270px;
  height:134px;
}
#u4681 {
  position:absolute;
  left:2px;
  top:59px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u4682 {
  position:absolute;
  left:1531px;
  top:1404px;
  width:239px;
  height:19px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u4683 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u4684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#2087FC;
  text-align:center;
}
#u4684 {
  position:absolute;
  left:1650px;
  top:1468px;
  width:134px;
  height:22px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#2087FC;
  text-align:center;
}
#u4685 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u4686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2087FC;
  text-align:center;
}
#u4686 {
  position:absolute;
  left:1514px;
  top:1468px;
  width:136px;
  height:22px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2087FC;
  text-align:center;
}
#u4687 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u4688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u4688 {
  position:absolute;
  left:1514px;
  top:1458px;
  width:270px;
  height:1px;
}
#u4689 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:2px;
}
#u4690 {
  position:absolute;
  left:1628px;
  top:1479px;
  width:43px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4691 {
  position:absolute;
  left:23px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u4692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:134px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4693 {
  position:absolute;
  left:66px;
  top:2025px;
  width:270px;
  height:134px;
}
#u4694 {
  position:absolute;
  left:2px;
  top:59px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u4695 {
  position:absolute;
  left:83px;
  top:2061px;
  width:239px;
  height:19px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u4696 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u4697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#2087FC;
  text-align:center;
}
#u4697 {
  position:absolute;
  left:202px;
  top:2125px;
  width:134px;
  height:22px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#2087FC;
  text-align:center;
}
#u4698 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u4699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2087FC;
  text-align:center;
}
#u4699 {
  position:absolute;
  left:66px;
  top:2125px;
  width:136px;
  height:22px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#2087FC;
  text-align:center;
}
#u4700 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u4701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u4701 {
  position:absolute;
  left:66px;
  top:2115px;
  width:270px;
  height:1px;
}
#u4702 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:2px;
}
#u4703 {
  position:absolute;
  left:180px;
  top:2136px;
  width:43px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4704 {
  position:absolute;
  left:23px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u4705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4705 {
  position:absolute;
  left:578px;
  top:2072px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u4706 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4707 {
  position:absolute;
  left:578px;
  top:2092px;
  width:0px;
  height:0px;
}
#u4707_seg0 {
  position:absolute;
  left:-242px;
  top:-4px;
  width:246px;
  height:8px;
}
#u4707_seg1 {
  position:absolute;
  left:-249px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4708 {
  position:absolute;
  left:-171px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4709 {
  position:absolute;
  left:282px;
  top:2115px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u4710 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4711 {
  position:absolute;
  left:302px;
  top:2115px;
  width:0px;
  height:0px;
}
#u4711_seg0 {
  position:absolute;
  left:-4px;
  top:-785px;
  width:8px;
  height:789px;
}
#u4711_seg1 {
  position:absolute;
  left:-10px;
  top:-792px;
  width:20px;
  height:20px;
}
#u4712 {
  position:absolute;
  left:-50px;
  top:-400px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4713 {
  position:absolute;
  left:1070px;
  top:1361px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u4714 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4715 {
  position:absolute;
  left:1090px;
  top:1401px;
  width:0px;
  height:0px;
}
#u4715_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u4715_seg1 {
  position:absolute;
  left:-4px;
  top:30px;
  width:428px;
  height:8px;
}
#u4715_seg2 {
  position:absolute;
  left:411px;
  top:24px;
  width:20px;
  height:20px;
}
#u4716 {
  position:absolute;
  left:145px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4717 {
  position:absolute;
  left:1660px;
  top:1462px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u4718 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4719 {
  position:absolute;
  left:1680px;
  top:1502px;
  width:0px;
  height:0px;
}
#u4719_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u4719_seg1 {
  position:absolute;
  left:-264px;
  top:54px;
  width:268px;
  height:8px;
}
#u4719_seg2 {
  position:absolute;
  left:-264px;
  top:-36px;
  width:8px;
  height:98px;
}
#u4719_seg3 {
  position:absolute;
  left:-489px;
  top:-36px;
  width:233px;
  height:8px;
}
#u4719_seg4 {
  position:absolute;
  left:-489px;
  top:-101px;
  width:8px;
  height:73px;
}
#u4719_seg5 {
  position:absolute;
  left:-495px;
  top:-108px;
  width:20px;
  height:20px;
}
#u4720 {
  position:absolute;
  left:-310px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4721 {
  position:absolute;
  left:1035px;
  top:1900px;
  width:40px;
  height:40px;
  opacity:0.6;
}
#u4722 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4723 {
  position:absolute;
  left:1035px;
  top:1920px;
  width:0px;
  height:0px;
}
#u4723_seg0 {
  position:absolute;
  left:-145px;
  top:-4px;
  width:149px;
  height:8px;
}
#u4723_seg1 {
  position:absolute;
  left:-152px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4724 {
  position:absolute;
  left:-122px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
