body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:803px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:2417px;
}
#u713 {
  position:absolute;
  left:8px;
  top:15px;
  width:795px;
  height:2417px;
}
#u714 {
  position:absolute;
  left:2px;
  top:1200px;
  width:791px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:120px;
  height:75px;
}
#u715 {
  position:absolute;
  left:625px;
  top:71px;
  width:115px;
  height:70px;
  font-size:20px;
  color:#000000;
}
#u716 {
  position:absolute;
  left:2px;
  top:23px;
  width:111px;
  word-wrap:break-word;
}
#u717_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:80px;
  height:45px;
}
#u717 {
  position:absolute;
  left:422px;
  top:220px;
  width:75px;
  height:40px;
  font-size:20px;
  color:#000000;
}
#u718 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
