body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:704px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:269px;
  background:inherit;
  background-color:rgba(208, 82, 79, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6906 {
  position:absolute;
  left:31px;
  top:24px;
  width:300px;
  height:269px;
}
#u6907 {
  position:absolute;
  left:2px;
  top:126px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(208, 82, 79, 1);
  border:none;
  border-radius:6.20000076293945px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6908 {
  position:absolute;
  left:51px;
  top:237px;
  width:128px;
  height:40px;
}
#u6909 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u6910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(208, 82, 79, 1);
  border:none;
  border-radius:6.20000076293945px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6910 {
  position:absolute;
  left:189px;
  top:237px;
  width:128px;
  height:40px;
}
#u6911 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u6912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u6912 {
  position:absolute;
  left:370px;
  top:73px;
  width:334px;
  height:168px;
  line-height:28px;
}
#u6913 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u6914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u6914 {
  position:absolute;
  left:40px;
  top:38px;
  width:260px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u6915 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u6916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u6916 {
  position:absolute;
  left:81px;
  top:303px;
  width:200px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u6917 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6918_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:303px;
  height:5px;
}
#u6918 {
  position:absolute;
  left:31px;
  top:66px;
  width:300px;
  height:2px;
}
#u6919 {
  position:absolute;
  left:2px;
  top:-7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u6920 {
  position:absolute;
  left:40px;
  top:72px;
  width:283px;
  height:112px;
  line-height:28px;
}
#u6921 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u6922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
  line-height:28px;
}
#u6922 {
  position:absolute;
  left:381px;
  top:35px;
  width:200px;
  height:28px;
  color:#CC0000;
  line-height:28px;
}
#u6923 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6924_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:60px;
  height:21px;
}
#u6924p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:1px;
}
#u6924p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:64px;
  height:22px;
}
#u6924p001 {
  position:absolute;
  left:36px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6924p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u6924.compound {
  width:0px;
  height:0px;
}
#u6924 {
  position:absolute;
  left:326px;
  top:48px;
  width:50px;
  height:1px;
}
#u6925 {
  position:absolute;
  left:2px;
  top:-8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:212px;
  background:inherit;
  background-color:rgba(208, 82, 79, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6926 {
  position:absolute;
  left:31px;
  top:351px;
  width:300px;
  height:212px;
}
#u6927 {
  position:absolute;
  left:2px;
  top:98px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(208, 82, 79, 1);
  border:none;
  border-radius:6.20000076293945px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6928 {
  position:absolute;
  left:51px;
  top:513px;
  width:128px;
  height:40px;
}
#u6929 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u6930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(208, 82, 79, 1);
  border:none;
  border-radius:6.20000076293945px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6930 {
  position:absolute;
  left:183px;
  top:513px;
  width:128px;
  height:40px;
}
#u6931 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u6932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u6932 {
  position:absolute;
  left:40px;
  top:365px;
  width:260px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u6933 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u6934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u6934 {
  position:absolute;
  left:81px;
  top:563px;
  width:200px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u6935 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6936_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:303px;
  height:5px;
}
#u6936 {
  position:absolute;
  left:31px;
  top:393px;
  width:300px;
  height:2px;
}
#u6937 {
  position:absolute;
  left:2px;
  top:-7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u6938 {
  position:absolute;
  left:40px;
  top:399px;
  width:283px;
  height:112px;
  line-height:28px;
}
#u6939 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u6940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u6940 {
  position:absolute;
  left:367px;
  top:403px;
  width:334px;
  height:168px;
  line-height:28px;
}
#u6941 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u6942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
  line-height:28px;
}
#u6942 {
  position:absolute;
  left:378px;
  top:365px;
  width:200px;
  height:28px;
  color:#CC0000;
  line-height:28px;
}
#u6943 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6944_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:60px;
  height:21px;
}
#u6944p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:1px;
}
#u6944p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:62px;
  height:22px;
}
#u6944p001 {
  position:absolute;
  left:36px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6944p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u6944.compound {
  width:0px;
  height:0px;
}
#u6944 {
  position:absolute;
  left:323px;
  top:378px;
  width:50px;
  height:1px;
}
#u6945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:212px;
  background:inherit;
  background-color:rgba(208, 82, 79, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6946 {
  position:absolute;
  left:31px;
  top:625px;
  width:300px;
  height:212px;
}
#u6947 {
  position:absolute;
  left:2px;
  top:98px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(208, 82, 79, 1);
  border:none;
  border-radius:6.20000076293945px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6948 {
  position:absolute;
  left:51px;
  top:787px;
  width:128px;
  height:40px;
}
#u6949 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u6950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  background:inherit;
  background-color:rgba(208, 82, 79, 1);
  border:none;
  border-radius:6.20000076293945px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6950 {
  position:absolute;
  left:183px;
  top:787px;
  width:128px;
  height:40px;
}
#u6951 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u6952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u6952 {
  position:absolute;
  left:40px;
  top:639px;
  width:260px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u6953 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u6954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u6954 {
  position:absolute;
  left:81px;
  top:837px;
  width:200px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u6955 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6956_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:303px;
  height:5px;
}
#u6956 {
  position:absolute;
  left:31px;
  top:667px;
  width:300px;
  height:2px;
}
#u6957 {
  position:absolute;
  left:2px;
  top:-7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u6958 {
  position:absolute;
  left:40px;
  top:673px;
  width:283px;
  height:112px;
  line-height:28px;
}
#u6959 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u6960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u6960 {
  position:absolute;
  left:367px;
  top:677px;
  width:334px;
  height:140px;
  line-height:28px;
}
#u6961 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u6962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
  line-height:28px;
}
#u6962 {
  position:absolute;
  left:378px;
  top:639px;
  width:200px;
  height:28px;
  color:#CC0000;
  line-height:28px;
}
#u6963 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6964_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:60px;
  height:21px;
}
#u6964p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:1px;
}
#u6964p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:62px;
  height:22px;
}
#u6964p001 {
  position:absolute;
  left:36px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6964p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u6964.compound {
  width:0px;
  height:0px;
}
#u6964 {
  position:absolute;
  left:323px;
  top:652px;
  width:50px;
  height:1px;
}
#u6965 {
  position:absolute;
  left:2px;
  top:-8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6966 {
  position:absolute;
  left:51px;
  top:211px;
  width:150px;
  height:16px;
}
#u6967 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u6966_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
